/.idea/
/cmake-build-debug/
/cmake-build-release/
/build/
/debug/
/release/
ffmpegEncoder/cmake-build-debug/
ffmpegEncoder/cmake-build-release/
serviceModuleDllSo/cmake-build-debug/
serviceModuleDllSo/cmake-build-release/
serviceModuleDllSo/.idea/
